@import url(https://fonts.googleapis.com/css?family=Poppins|Quicksand);

$major-green: #F6FFED;
$text-color: rgba(42, 8, 3, 0.8);
$major-font: 'Quicksand', sans-serif;
$minor-font: 'Poppins', sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $major-green;
}

#header {
  font-size: 72px;
  font-family: $major-font;
  color: $text-color;
  text-align: center;
}

#imageContainer {
  text-align: center;
}

#random-waffles {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#buttonNewWaffle {
  font-family: $minor-font;
  font-size: 30px;
  color: $text-color;
  text-align: center;
}
