@import url(https://fonts.googleapis.com/css?family=Poppins|Quicksand);

$major-green: #F6FFED;
$text-color: rgba(42, 8, 3, 0.8);
$major-font: 'Quicksand', sans-serif;
$minor-font: 'Poppins', sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $major-green;
  overflow: hidden;
}

header {
  font-size: 3em;
  font-family: $major-font;
  color: $text-color;
  text-align: center;
  grid-column: 1 / 8;
  grid-row: 5;
  z-index: 99;
}

.everything {
  margin: 0 auto;
  width: auto;
  max-width: 1200px;
  display: grid;
  // grid-template-columns: 1fr 25px .2fr 1fr .2fr 25px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 25px 1fr 25px 3fr;
  position: relative;
}

.pictureToast {
  position: absolute;
  grid-column: 3 / 7;
  margin: 0 auto;
  width: 100%;
  z-index: -1;
}

#randomWaffles {
  width: 100%;
}

.coverUp {
  // background-color: rgba(25, 25, 25, 0.5);
  background-color: $major-green;
  height: 100%;
  width: 100%;
  grid-row: 3 / 6;
  position: absolute;
  z-index: -1;
}

.toaster {
  grid-column: 2 / 8;
  grid-row: 3 / 4;
  position: relative;
  // padding-top: 400px;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0,1,.06,1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}
